// Lists module.
ul,
.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 20px;
}

li {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 20px;
}