// Lists module.
ul,
.list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  margin: 20px;
  padding: 0;
}

li {
  border-bottom: solid 1px black;
  justify-content: space-between;
  padding: 20px;
  width: 90%;
  display: flex;
  // justify-content: space-around;
  align-items: center;
}