// Navbar module
.navbar {
  background-color: $lightgray;
  padding: 20px;
  &__item {
    margin: 10px;
    text-decoration: none;
    color: $gray;
  }

  &__item--active {
    margin: 10px;
    font-weight: 700;
    color: $darkgray;
  }
}
