// Navbar module
.navbar {
  background-color: $lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  &__item {
    margin: 10px;
    text-decoration: none;
    color: $gray;
  }

  &__item--active {
    margin: 10px;
    font-weight: 700;
    color: $darkgray;
  }

  .button {
    background-color: $green;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    right: 0;
    padding: 8px;
  }
}
