.summary-bar {
  display: flex;
  margin: 20px;
  .button,
  .complete-all {
    color: $blue;
    border: none;
    font-weight: bold;
    &:hover {
      color: $gray;
      cursor: pointer;
    }
  }
}

.message {
  margin-right: 8px;
}
