// Todo module.
.todo {
  cursor: pointer;

  &--status-complete {
    text-decoration: line-through;
  }

  &--filtered {
    display: none;
  }
}

.archive-btn {
  background-color: $green;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  right: 0;
  padding: 8px;
}
