// Todo module.
.todo {
  cursor: pointer;
  font-size: 20px;

  &.--status-complete {
    .todo-link {
      text-decoration: line-through;
      color: $lightgray;
    }
  }

  .inactive {
    opacity: 0;
    &:hover {
      cursor: none;
    }
  }
}

.hidden {
    display: none;
}

.checkbox {
  &:before {
    color: red;
  border: dotted .4px black; 
  }
  height: 20px;
  width: 20px;
  padding: 4px;
  margin: 0;
  border: dotted 1px black;
  color: $green;
  font-size: 20px;
}


.hidden {
  display: none;
}

.archive-btn {
  background-color: $green;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  right: 8px;
  padding: 8px;
}

.x-btn {
  border: none;
  font-size: 32px;
  font-family: $buttonfont;
  color: $gray;
  &:hover {
    color: $darkgray;
    cursor: pointer;
  }
}
